@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: auto;
  font-family: 'Merriweather', serif;
  background-repeat: repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
